body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -100px;
}

.ui-panel {
  margin            : 15px auto;
  background-color  : #ddd;
  border            : 3px solid #999;
}

.ui-message {
  margin            : 0 auto;
  background-color  : #ff0;
  text-align        : center;
  border            : 1px solid #009;
}
